@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#21c4fa), to(#14f6f6));
  background: linear-gradient(to right, #21c4fa, #14f6f6);
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
}

header h1 {
  font-size: 3rem;
}

header form input {
  width: 300px;
  font-size: 18px;
  padding: 5px 10px;
  border: 1px black solid;
  border-radius: 3px;
}

header form input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

header form input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

header form input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

header form input::placeholder {
  font-family: "Poppins", sans-serif;
}

header form button {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px black solid;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
}

header form button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.75;
}

.todo__container {
  padding: 50px 30px;
  min-height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo__container .todo {
  cursor: pointer;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 350px;
  background: white;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.todo__container .todo .task {
  padding-left: 10px;
}

.todo__container .todo .icons {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.todo__container .todo .icons button {
  height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 7px;
}

.todo__container .todo .icons button i {
  font-size: 2rem;
  color: white;
}

.todo__container .todo .icons button.check {
  background-color: green;
}

.todo__container .todo .icons button.trash {
  background-color: red;
}

.todo__container .todo.completed {
  opacity: 0.5;
  text-decoration: line-through;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.todo__container .todo.completed button.check {
  pointer-events: none;
}

.todo__container .todo.important {
  border: 3px green solid;
  border-radius: 3px;
}
/*# sourceMappingURL=index.css.map */